{% extends "base.html" %}

{% block title %}Link Time{% endblock %}

{% block content %}
<div id='img'class="row" >
	<div class='col-md-4 11 '  >
		<table><tr><td>
        <a href="http://www.baidu.com"><img src="http://a1.att.hudong.com/41/11/19300001058918132210114381264.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 12' >
        <a href="http://64.233.168.54"><img src="http://img5.pcpop.com/ArticleImages/0x0/0/784/000784393.jpg"width="200" height="120"/></a>
	</div>
	
	<div class='col-md-4 13'>
		<table><tr><td>
        <a href="http://www.sjtu.edu.cn/"><img src="http://www.xinjdhs.com/bbx/upimages/bbb.png"width="200" height="120"/></a>
        </td></tr></table>
	</div>
</div>
<div class="row" >
<h2></h2>
</div>
<div class="row" >
	<div class='col-md-4 11'>
		<table><tr><td>
        <a href="http://www.baidu.com"><img src="http://a1.att.hudong.com/41/11/19300001058918132210114381264.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 12'>
		<table><tr><td>
        <a href="http://64.233.168.54"><img src="http://img5.pcpop.com/ArticleImages/0x0/0/784/000784393.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 13'>
		<table><tr><td>
        <a href="http://www.sjtu.edu.cn/"><img src="http://www.xinjdhs.com/bbx/upimages/bbb.png"width="200" height="120"/></a>
        </td></tr></table>
	</div>
</div>
{% endblock %}