{% extends "base.html" %}

{% block title %}Link Time{% endblock %}

{% block content %}
<div id='img'class="row" >
	<div class='col-md-4 11 '  >
		<table><tr><td>
        <a href="http://www.baidu.com"><img src="http://a1.att.hudong.com/41/11/19300001058918132210114381264.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 12' >
        <a href="http://64.233.168.54"><img src="http://img5.pcpop.com/ArticleImages/0x0/0/784/000784393.jpg"width="200" height="120"/></a>
	</div>
	
	<div class='col-md-4 13'>
		<table><tr><td>
        <a href="http://www.sjtu.edu.cn/"><img src="http://www.xinjdhs.com/bbx/upimages/bbb.png"width="200" height="120"/></a>
        </td></tr></table>
	</div>
</div>
<div class="row" >
<h2></h2>
</div>
<div class="row" >
	<div class='col-md-4 11'>
		<table><tr><td>
        <a href="http://www.amazon.cn/"><img src="http://www.edu-hb.com/Upload/NewsImg/201112/02/111202095719zgt85.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 12'>
		<table><tr><td>
        <a href="http://www.taobao.com/"><img src="http://img1.100ye.com/img2/4/497/713/9746213/msgpic/30171512.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 13'>
		<table><tr><td>
        <a href="http://book.dangdang.com/"><img src="http://img.sj33.cn/uploads/allimg/201402/7-14022414122X50.png"width="200" height="120"/></a>
        </td></tr></table>
	</div>
</div>
<div class="row" >
<h2></h2>
</div>
<div class="row" >
	<div class='col-md-4 11'>
		<table><tr><td>
        <a href="http://www.weibo.com"><img src="http://a1.att.hudong.com/07/84/19300000229465130222847719538.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 12'>
		<table><tr><td>
        <a href="http://www.jd.com/"><img src="http://www.bc17688.com/syscyi/i-article/20130420202041148474.jpg"width="200" height="120"/></a>
        </td></tr></table>
	</div>
	
	<div class='col-md-4 13'>
		<table><tr><td>
        <a href="http://www.bilibili.com/"><img src="http://b.zol-img.com.cn/mobile_soft/ms_48/180x180/so07L189obDPU.png"width="200" height="120"/></a>
        </td></tr></table>
	</div>
</div>
{% endblock %}